body{
   font-family: 'Roboto Slab',serif !important;
}
h1, h2, h3{
    max-width: none;
}
form.inputs-3a86ea-checkbox{
    max-width: none;
}
.info-box {
    position: absolute;
    padding: 5px;
    background: white;
    border: 1px solid black;
    top: 10px;
    right: 10px;
    display: none;
}  
