body {
    font-family: "Noto Sans Display", Arial,Helv,Helvetica,Verdana,sans-serif;
}
body #observablehq-center #observablehq-main .observablehq--block .grid .card h1 {
    max-width: none;
}
body #observablehq-center #observablehq-main .observablehq--block .grid .card .ort_name_card {
    font-size: 27px;
    color: #efb118;
    font-family: "Noto Sans Display", Arial,Helv,Helvetica,Verdana,sans-serif;
}
h1, h2, h3 {
    max-width: none
}
form.inputs-3a86ea-checkbox {
    max-width: none;
    font-family: "Noto Sans Display", Arial,Helv,Helvetica,Verdana,sans-serif;
    font-size: 1.6rem;
    line-height: 1.6rem;
}
.info-box{
    position: absolute;
    padding: 5px;
    background: white;
    border: 1px solid black;
    top: 10px;
    right: 10px;
    display: none;
}
#infoBox table  td {
    font-size: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.field_name{
    font-size: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
    /*font-family: "Noto Sans Display", Arial, Helv, Helvetica,Verdana,sans-serif;    */
}
.st-title{
    max-width: 90%;
    padding-top: .4rem;
    position: relative;
    font-family: "Noto Sans Display", Arial, Helv, Helvetica, Verdana, sans-serif;
    font-size: 1.6rem;
    line-height: 2.4rem;
}
.category-title{    
    bottom: 0;
    float: left;
    line-height: normal;
    max-width: 100%;
    padding-top: .4rem;
    position: relative;
}
/*---------for Modal Window---------*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    opacity: 0;
    transition: opacity 0.5s ease;
    text-align: center;
    padding: 0!important;
}
.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: top;
    margin-right: -4px;
}
.modal-content {
    display: inline-block;
    background-color: #fefefe;
    /*margin: 15% auto; */
    padding: 20px;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    animation: fadeIn 0.5s ease;
    max-width: 90vw; /* Ограничение по ширине */
    max-height: 90vh; /* Ограничение по высоте */
    overflow: auto; /* Скролл, если содержимое превышает размеры окна */
    margin: auto; /* Центрирование содержимого */
    /*width: 80%;*/
}



.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.show {
    display: block;
    opacity: 1;
}
.card {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 10px;
}

/*
.modal-content {
    display: inline-block;
    text-align: left;
    vertical-align: top;
}
*/

/*----------// for Modal Window---------*/
#familienStand_table{
    display: none;
}
#observablehq-toc {
    display: none;
}